<?xml version='1.0' encoding='utf-8'?>
<widget id="org.monnaieleman.bureau" version="1.4.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Bureau Leman</name>
    <description>
        An Apache Cordova wallet for Monnaie Leman
    </description>
    <author email="info@monnaie-leman.org" href="http://monnaie-leman.org">
        Monnaie Leman
    </author>
    <content src="index.html" />
    <plugin name="cordova-plugin-whitelist" spec="1" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <icon src="lem.png" />
    <engine name="browser" spec="~5.0.4" />
</widget>
