@@include( '../includes/header.tpl', { "site": "exchangeOffice" } )



<br />

<section class="container" style="min-height: 50%" ng-controller='viewCtrl'>

  <div class="tab-content" >

    @@include( '../includes/storage.tpl', { "site": "exchangeOffice" } )

    @@include( '../includes/viewWalletInfo.tpl', { "site": "exchangeOffice" } )
    
    @@include( '../includes/exchangeOffice.tpl', { "site": "exchangeOffice" } )
    
    @@include( '../includes/billing.tpl', { "site": "exchangeOffice" } )
      
    @@include( '../includes/global.tpl', { "site": "exchangeOffice" } )

    @@include( '../includes/help.tpl', { "site": "exchangeOffice" } )


  </div> 

</section>

